@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
}

.header {
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: #fff;
    border: 2px solid #000;
    /* width: 100%; */

    .nav-links {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 1.5rem;
        
        a {
            text-decoration: none;
            color: #000;
        }
    }
}

.banner {
    position: relative;
    background-image: linear-gradient(#27a3ff, #e4ffff);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    min-height: 400px;
    overflow: hidden;

     &::before {
        content: "";
        position: absolute;
        bottom: 15px;
        left: 0;
        width: 100%;
        height: 90%;
        background-image: url("../images/global/banner-left.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom left;
        z-index: 4;
     }

     &::after {
        content: "";
        position: absolute;
        bottom: 15px;
        right: 0;
        width: 80%;
        height: 100%;
        background-image: url("../images/global/banner-right.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom right;
        z-index: 4;
    }

    .layer-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: url('../images/global/banner-bottom.png');
        background-size: auto 100%;
        z-index: 3;
    }

    .banner-content {
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 250px;
        max-width: 420px;

        .moldura-container {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 90px;
            overflow: hidden;
            background-color: #fff;
            
            .moldura-bg {
                background-image: url("../images/global/moldura.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                height: 100%;
                display: block;
                position: relative;
                z-index: 2;
            }

            .moldura-text {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                z-index: 3;
                
                h1 {
                    font-size: 3.1rem;
                    /* line-height: 1.3rem; */
                    margin: 0;
                    color: #000;
                    font-weight: 700;
                }
            }


        }

        .btn-start {
            margin-top: 20px;
            padding: 10px 50px;
            font-size: 1.2rem;
            background: #fff;
            border: 3px solid #000;
            cursor: pointer;
            z-index: 11;
            font-weight: bold;
            box-shadow: 2px 2px 0px rgba(0,0,0,0.1);
        }

        @media (max-width: 600px) {
            .layer {
                height: 40%;
            }
        }

        a {
            text-decoration: none;
            color: #000;
        }
    }
}

.characters {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9F3F2;
    padding: 50px 0;

    .characters__title {
        font-family: 'Press Start 2P', cursive;
        color: white;
        text-shadow: 
            -2px -2px 0 #000,  
            2px -2px 0 #000,
            -2px  2px 0 #000,
            2px  2px 0 #000;
        margin-bottom: 50px;
    }

    .characters__box {
        background-color: #fff;
        border: 3px solid #000;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        width: 30%;
        text-align: center;

        li {
            list-style: none;
        }
    }
}

.banner__footer-fundo img {
    height: 400px;
    width: 100vw;
}